Tamagotchi/Tamagotchi.xcodeproj/project.xcworkspace/xcuserdata/MacBook.xcuserdatad/
Tamagotchi/Tamagotchi.xcodeproj/xcuserdata/MacBook.xcuserdatad/
Tamagotchi/.DS_Store
Tamagotchi/Assets/.DS_Store
Tamagotchi/ .DS_Store
Tamagotchi/Assets/ .DS_Store
.DS_Store
 .DS_Store
Tamagotchi/Tamagotchi.xcodeproj/project.xcworkspace
/UserInterfaceState.xcuserstate
Tamagotchi/Tamagotchi.xcodeproj/xcuserdata
