.DS_Store

Tamagotchi/Tamagotchi.xcodeproj/project.xcworkspace/xcuserdata/robincollins.xcuserdatad/UserInterfaceState.xcuserstate

Tamagotchi/Tamagotchi.xcodeproj/project.xcworkspace/xcuserdata/robincollins.xcuserdatad/UserInterfaceState.xcuserstate
Tamagotchi.xcodeproj/project.xcworkspace/xcuserdata/sunaliseth.xcuserdatad/UserInterfaceState.xcuserstate
Tamagotchi.xcodeproj/project.xcworkspace/xcuserdata/sunaliseth.xcuserdatad/UserInterfaceState.xcuserstate
Tamagotchi.xcodeproj/project.xcworkspace/xcuserdata/sunaliseth.xcuserdatad/UserInterfaceState.xcuserstate
Tamagotchi/Tamagotchi.xcodeproj/project.xcworkspace/xcuserdata/sunaliseth.xcuserdatad/UserInterfaceState.xcuserstate
